{% extends 'base.html' %}

{% block content %}
<div class="create-account-form">
    <h1>Create an Account</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="create-acc-button">Create Account</button>
    </form>
</div>
{% endblock content %}