{% extends 'base.html' %}

{% block content %}
<h1>Account</h1>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Number</th>
            <th>Number of receipts</th>
        </tr>
    </thead>
    <tbody>
        {% for acct_info in account_list %}
        <tr>
            <td>{{acct_info.name}}</td>
            <td>{{acct_info.number}}</td>
            <td>{{acct_info.receipts.all|length}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}