{% extends 'base.html' %}

{% block content %}

<div class="expense-create-form">
    <h1>Create an Expense Category</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="create-expensecat-button">Create Expense Category</button>
    </form>
</div>
{% endblock content %}