{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
    <title>Receipt Manager</title>
</head>

<body>
    <header>
        <nav>
            <ul class="nav-links">
                {%if user.is_authenticated %}
                <li>
                    <a href="{% url 'home' %}">Receipts</a>
                </li>
                <li>
                    <a href="{% url 'receipts_create' %}">Create Receipt</a>
                </li>
                <li>
                    <a href="{% url 'expense_category_list' %}">Expense Categories</a>
                </li>
                <li>
                    <a href="{% url 'expense_category_create' %}">Create Expense Category</a>
                </li>
                <li>
                    <a href="{% url 'account_list' %}">Account</a>
                </li>
                <li>
                    <a href="{% url 'account_create' %}">Create Account</a>
                </li>
                <li>
                    <a href="{% url 'logout' %}">Logout</a>
                </li>
                {% else %}
                <li>
                    <a href="{% url 'signup' %}">Sign Up</a>
                </li>
                <li>
                    <a href="{% url 'login' %}">Log In</a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock content %}
    </main>
</body>

</html>