{% extends 'base.html' %}

{% block content %}
<div class="create-receipt-form">
    <h1>Create a Receipt</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="create-receipt-button">Create Receipt</button>
    </form>
</div>
{% endblock content %}