{% extends 'base.html' %}

{% block content %}
<h1>Receipts</h1>
<table>
    <thead>
        <tr>
            <th>Vendor</th>
            <th>Total</th>
            <th>Tax</th>
            <th>Date</th>
            <th>Category</th>
            <th>Account</th>
        </tr>
    </thead>
    <tbody>
        {% for receipt_info in receipt_list %}
        <tr>
            <td>{{receipt_info.vendor}}</td>
            <td>{{receipt_info.total}}</td>
            <td>{{receipt_info.tax}}</td>
            <td>{{receipt_info.date}}</td>
            <td>{{receipt_info.category}}</td>
            <td>{{receipt_info.account}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}