header {
    text-align: center;
}

li {
    display: inline-block;
    text-align: center;
}

a {
    padding: 8px;
    text-align:center;
}

table, th, td {
    border: 1px solid;
    text-align: center;
}

th, td {
    padding: 10px;

}

table {
    border-collapse: collapse;
    width: 50%;
    margin-left:auto;
    margin-right:auto;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

th {
    background-color: darkgreen;
    color: white;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

form {
    text-align: center;
}

